body{
    font-family: Roboto, sans-serif;
}
.navbar{
    background-color: #c7a1cf;
}
#cabecalho .nav .nav-link.active{
    background-color: #fff;
    color: #7d2099;
}
header h1{
    color:#7d2099;
}
.carousel-inner img {
    width: 100%; 
    height: 700px; 
    object-fit: cover; 
}
#cabecalho .nav .nav-link, 
.navbar-brand, 
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover{
    color: #fff;
}
#sobre-o-restaurante,
#nossas-gostosuras {
    background-color: #f6edf9;
}
.section-title{
    font-family: 'Playball', cursive;
}
.section-title span{
    color:#7d2099;
}
.text-colored{
    color: #7d2099;
}
.nav-cardapio .nav-link.active{
    background-color: #c7a1cf;
    color: #fff;
}
.nav-cardapio .nav-link:hover{
    color: #c7a1cf;
}
.social-links li{
    list-style: none;
    display: inline;
}
.social-links a{
    text-decoration: none;
}
#formulario{
    margin-top: 50px;
}
.btn-custom {
    background-color: #c7a1cf;
    color: #fff; 
}

.btn-custom:hover {
    background-color: #7d2099;
    color: #fff; 
}
footer{
    background-color: #c7a1cf;
    color: #fff;
}
@media (max-width: 767px) {
    .carousel-item img{
        height: 280px;
    }
}
@media (min-width: 641px) and (max-width: 1023px) {
    #sobre-o-restaurante .col-md-5 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #sobre-o-restaurante .col-md-5 img {
        margin-bottom: 1rem;
    }

    #sobre-o-restaurante .col-md-7 {
        text-align: center;
    }
}

@media (max-width: 640px) {
    #nossas-gostosuras .tab-content .row > div {
        flex: 0 0 50%;
        max-width: 50%;
    }

    #nossas-gostosuras .tab-content .row {
        display: flex;
        flex-wrap: wrap;
    }
}